<%- include('partials/head'); -%>
<%- include('partials/admin-nav'); -%>

<div class="container d-flex justify-content-center align-items-center">
        <div class="card w-50">
            <div class="card-header">
                Profile
            </div>
            <div class="card-body">
              
              <p class="card-text">Name: <%= admin.fullName %> </p>
              <p class="card-text">Address: <%= admin.address %> </p>
              <p class="card-text">Email: <%= admin.email %> </p>
              <p class="card-text">Phone Number: <%= admin.phoneNumber %> </p>
              <a href="/admin/logout/<%= admin.id %>" class="btn btn-primary">Log Out</a>
            </div>
          </div>
        </div>

<%- include('partials/foot'); -%>