<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>

<div class="container d-flex justify-content-center align-items-center">
        <div class="card w-50">
            <div class="card-header">
                Profile
            </div>
            <div class="card-body">
              
              <p class="card-text">Name: <%= customer.fullName %> </p>
              <p class="card-text">Address: <%= customer.address %> </p>
              <p class="card-text">Email: <%= customer.email %> </p>
              <p class="card-text">Phone Number: <%= customer.phoneNumber %> </p>
              <a href="/logout" class="btn btn-primary">Log Out</a>
              <a href="/profile/edit" class="btn btn-primary">Edit</a>
            </div>
          </div>
        </div>

<%- include('partials/foot'); -%>