<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>

<div class="container">
    <h1>Hotel: <%= hotel.name %></h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Image</th>
                <th>Room Type</th>
                <th>Price</th>
                <th>Max Capacity</th>
                <th>Facility</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% hotel.Rooms.forEach((el, index) => { %>
                <tr>
                    <td><%= ++index %></td>
                    <td><img src="<%= el.imgUrl %>" style="width:300px;height:200px;"></td>
                    <td><%= el.roomType %></td>
                    <td><%= el.price %> /night</td>
                    <td><%= el.capacity %></td>
                    <td><%= el.facility %></td>
                    <td>
                        <a href="">Book</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('partials/foot'); -%>