<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>

<div class="container">
    <h1>Hotel: <%= hotel.name %></h1>
    <h4>Rooms:</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Image</th>
                <th>Room Type</th>
                <th>Price</th>
                <th>Max Capacity</th>
                <th>checkIn</th>
                <th>checkOut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% hotel.Rooms.forEach((el, index) => { %>
                <tr>
                    <td><%= ++index %></td>
                    <td><img src="<%= el.imgUrl %>" style="width:300px;height:200px;"></td>
                    <form action="/hotels/<%= hotel.id %>/book/<%= el.id %>" method="post">
                        <td name="roomType"><%= el.roomType %></td>
                        <td name="price"><%= el.formatCurrency %> /night</td>
                        <td><%= el.capacity %> persons</td>
                    
                        <td>
                            <input type="date" name="checkIn">
                        </td>
                        <td>
                            <input type="date" name="checkOut">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-outline-danger">Book</button>
                        </td>
                    </tr>
                </form>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('partials/foot'); -%>