<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>

<div class="col-lg-8 col-xl-9 position-relative overflow-hidden pb-5 pt-4 px-3 px-xl-4 px-xxl-5 mx-auto">
    
    <!-- Title-->
    <div class="d-sm-flex align-items-center justify-content-between pb-3 pb-sm-4">
      <h1 class="h2 mb-sm-0">Hotels</h1>
      <h3><a class="btn btn-secondary" href="/admin/addHotel">Add Hotel +</a></h3>
    </div>
    <!-- Sorting-->
    <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
      <div class="d-flex align-items-center flex-shrink-0">
        <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
        <select class="form-select form-select-sm" id="sortby">
          <option>Newest</option>
          <option>Popularity</option>
          <option>Low - High Price</option>
          <option>High - Low Price</option>
          <option>High rating</option>
          <option>Average Rating</option>
        </select>
      </div>
      <hr class="d-none d-sm-block w-100 mx-4">
      <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"></div>
    </div>
    <!-- Catalog grid-->
    <div class="row g-4 py-4">
      <!-- Item-->
      <% hotels.forEach(h => { %>
        <div class="col-sm-6 col-xl-4">
          <div class="card shadow-sm card-hover border-0 h-100">
                  <img src="<%= h.imgUrl %>" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title"><%= h.name %></h5>
                    <p class="card-text"><%= h.address %></p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Rp. 340.999 / night</li>
                  </ul>
                  <div class="card-body">
                    <a href="/admin/<%= h.id %>/hotelDetail" class="btn btn-success">Rooms</a>
                    <a href="/admin/<%= h.id %>/delete" class="btn btn-danger">Delete</a>
                  </div>
          </div>
        </div>
      <% }) %>
      <!-- Item-->
      
  </div>

<%- include('partials/foot'); -%>