<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>

<section class="container-fluid my-5 pt-5 pb-lg-4 px-xxl-4">
    <div class="card align-items-center justify-content-center border-0 p-md-5 p-4 bg-secondary overflow-hidden mt-n3" style="min-height: 65vh; background: url('https://finder.createx.studio/img/real-estate/hero-image-v2.jpg') no-repeat top;"><span class="img-overlay opacity-40"></span>
      <div class="content-overlay" style="max-width: 856px;">
        <h1 class="display-5 mb-5 pb-md-3 px-md-3 text-danger text-center">Easy way to find a perfect hotel</h1>
        <form class="form-group d-block" action="/hotels" method="get">
            <div class="col-md-10 d-sm-flex align-items-center input-group">    
                    <select class="form-select" name="address">
                        <option selected disabled>Choose location...</option>
                        <% address.forEach(el => { %>
                         <option value="<%= el %>"><%= el %></option>
                        <% }) %>
                    </select>
                    <button class="btn btn-danger" type="submit">Search Hotels</button>
          </div>
        </form>
    </div>  
    <h5 class="text-danger text-center mt-5">..Or you can just</h5>
    <div class="container d-flex justify-content-center align-items-center mt-3">
      <a href="/hotels" class="btn btn-danger">Explore All Hotels</a>
  </div>
</section>

<%- include('partials/foot'); -%>